<h1>Available Pets!!</h1>
<h6><%= link_to 'View all Pets', '/pets' %></h6>
<h6><%= link_to 'View all Shelters', '/shelters' %></h6>
<form action="/shelters/<%= @shelter.id %>/pets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a New Pet:</p>
  <input type='text' name='pet[image]' value='Pet Image'/><br/>
  <input type='text' name='pet[name]' value='Name'/><br/>
  <input type='text' name='pet[description]' value='Description'/><br/>
  <input type='text' name='pet[approximate_age]' value='Approximate Age'/><br/>
  <input type='text' name='pet[sex]' value='Sex'/><br/>
  <input type='submit' value='Create Pet'/>
</form>
