<%= form_tag "/shelters/#{@shelter.id}/pets" do %>
  <h1>Enter a New Pet:</h1>
  <input type='text' name='pet[image]' value='Pet Image'/><br/>
  <input type='text' name='pet[name]' value='Name'/><br/>
  <input type='text' name='pet[description]' value='Description'/><br/>
  <input type='text' name='pet[approximate_age]' value='Approximate Age'/><br/>
  <input type='text' name='pet[sex]' value='Sex'/><br/>
  <input type='submit' value='Create Pet'/>
<% end %>
