<div class="h1">
  <h1>Adopt Don't Shop</h1>
</div>

<div class="topnav">
  <a href="/shelters">Shelters</a>
  <a href="/pets">Pets</a>
</div>

<div class="content">
  <p>Welcome to our pet adoption website!</p>
  <p>We hope you find the furry friend of your dreams.</p>
</div>
